<button
  class="fixed top-24 left-1/2 -translate-x-1/2 z-10"
  (click)="scrollUp()"
>
  <navigation-arrow [color]="'second'" [direction]="'up'"></navigation-arrow>
</button>

<div id="skills" class="h-screen snap-start flex justify-center items-center">
  <skill-section class="mt-14"></skill-section>
</div>

<div
  id="education"
  class="h-screen snap-start flex justify-center items-center"
>
  <education-section class="mt-14"></education-section>
</div>

<div
  id="certificates"
  class="h-screen snap-start flex justify-center items-center"
>
  <certificate-section></certificate-section>
</div>

<button
  class="fixed bottom-10 left-1/2 -translate-x-1/2 z-10"
  (click)="scrollDown()"
>
  <navigation-arrow [color]="'primary'" [direction]="'down'"></navigation-arrow>
</button>
