<div
  *ngIf="isMobile"
  class="w-80 flex snap-x snap-mandatory gap-6 overflow-x-auto"
>
  <ng-container *ngFor="let card of cards">
    <div class="snap-center flex justify-center">
      <skill-card
        class="shrink-0"
        [title]="card.title"
        [titleIcon]="card.icon"
        [skillList]="card.skillList"
      ></skill-card>
    </div>
  </ng-container>
</div>

<div
  *ngIf="!isMobile"
  class="p-5 md:p-20 grid md:grid-cols-2 gap-4 justify-items-center"
>
  <skill-card
    *ngFor="let card of cards"
    class="skill"
    [title]="card.title"
    [titleIcon]="card.icon"
    [skillList]="card.skillList"
  ></skill-card>
</div>
