/* Hide the scrollbar track */
.overflow-x-auto::-webkit-scrollbar {
    height: 64px /* Height of the scrollbar */
}

/* The draggable part of the scrollbar (the thumb) */
.overflow-x-auto::-webkit-scrollbar-thumb {
    background: url('../../../../assets/pictures/icons/arrows_bidirectional.svg') no-repeat center;  /* Background image as thumb */
    background-size: contain;  /* Scale the icon to fit */
    color: #f8c7cd; 
}

/* Optional: Add hover effect for the thumb */
.overflow-x-auto::-webkit-scrollbar-thumb:hover {
    color: #f8c7cd; /* Darker color on hover */
}

.overflow-x-auto::-webkit-scrollbar-track {
    background: transparent;
 }

/* Optional: Customize scrollbar for Firefox */
.scrollable {
    scrollbar-width: thin; /* Firefox: creates a thin scrollbar */
    scrollbar-color: #ee7383; /* Firefox: thumb color and track color */
}
/* To hide the track in Firefox */
.scrollable::-webkit-scrollbar-track {
    background: transparent; /* Hide track */
}

