<div class="flex justify-between">
  <button (click)="goToMainPage()">
    <img
      class="w-auto h-20 transform duration-300 hover:scale-110"
      src="/assets/pictures/icons/logo.png"
    />
  </button>
  <button class="inline-flex" (click)="darkModeToggled()">
    <mat-icon>sunny_snowing</mat-icon>
  </button>

  <!-- Shown on medium screens and above -->
  <div class="hidden md:flex">
    <ng-container *ngFor="let route of navigationRoutes">
      <button mat-button (click)="goToPage(route.path)">
        {{ route.translationName | translate }}
      </button>
    </ng-container>
  </div>
  <div class="flex justify-center items-center">
    <img
      class="cursor-pointer h-6 m-4 transform duration-300"
      [ngClass]="{
        rotated: hamburgerMenuTilted
      }"
      src="./../../../assets/pictures/icons/hamburger_menu.svg"
      (click)="drawerToggled()"
    />
  </div>
</div>
