<div class="h-full pt-header flex flex-col opacity-90">
  <ng-container *ngFor="let route of navigationRoutes; let i = index">
    <button
      mat-button
      class="p-5 hover:text-white transform duration-500"
      [ngClass]="{
        'hover:bg-primary-main' : i % 3 === 0,
        'hover:bg-primary-second' : i % 3 === 1,
        'hover:bg-primary-third' : i % 3 === 2,
      }"
      (click)="goToPage(route.path); drawerToggled()"
    >
      <div class="mx-16">
        {{ route.translationName | translate }}
      </div>
    </button>
  </ng-container>
  <div class="md:hidden flex items-center justify-center mt-5">
    <contact></contact>
  </div>
</div>
