<div class="flex flex-col justify-center items-center">
  <div class="mt-4 font-bold text-lg md:text-xl">
    {{ title | translate }}
  </div>
  <div class="mt-4 md:mt-10">
    <a *ngIf="link" href="{{ link }}" target="_blank" rel="noopener noreferrer">
      <img
        class="w-36 h-auto md:w-56 transform duration-300 hover:scale-110"
        src="{{ imagePath }}"
      />
    </a>
    <img
      *ngIf="!link"
      class="w-36 h-auto md:w-56 transform duration-300 hover:scale-110"
      src="{{ imagePath }}"
    />
  </div>
  <div class="text-center text-sm md:text-lg my-3 mx-4">
    {{ description | translate }}
  </div>
</div>
