<!-- Use the following to define colors for dark and light mode-->
<div
  class="min-h-screen bg-fixed bg-bg-stripes"
  [ngClass]="{
      'text-text-light bg-background-white': !(darkMode$|async),
      'text-text-dark bg-background-dark': darkMode$|async,
    }"
>
  <app-header
    [navigationRoutes]="navigationRoutes"
    [hamburgerMenuTilted]="drawer.opened"
    (drawerEvent)="drawer.toggle()"
    (darkModeEvent)="changeDarkMode()"
  ></app-header>
  <div class="flex flex-col flex-grow">
    <mat-drawer-container class="flex-grow">
      <mat-drawer #drawer opened="false" mode="push" position="end">
        <div class="h-full flex flex-col border-l-4 border-white opacity-90">
          <ng-container *ngFor="let route of navigationRoutes">
            <button
              mat-button
              class="p-5 hover:bg-primary-main rounded transform duration-300 hover:scale-110"
              (click)="goToPage(route.path); drawer.toggle()"
            >
              {{ route.translationName | translate }}
            </button>
          </ng-container>
        </div>
      </mat-drawer>
      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  <app-footer></app-footer>
</div>
