<cube [cubeSize]="'SM'"></cube>

<div class="h-16 w-32 rounded bg-primary-main"></div>
<div class="h-16 w-32 rounded bg-primary-second"></div>
<div class="h-16 w-32 rounded bg-primary-third"></div>

<div class="background-picture fade-element" #fadeElementBackground></div>

<div class="h-20"></div>
<div class="h-20"></div>

<div class="flex overflow-x-auto snap-x snap-mandatory">
  <skill-card
    class="snap-center"
    [title]="'1'"
    [titleIcon]="'device'"
    [skillList]="['card.skillList']"
  ></skill-card>
  <skill-card
    class="snap-center"
    [title]="'2'"
    [titleIcon]="'device'"
    [skillList]="['card.skillList']"
  ></skill-card>
  <skill-card
    class="snap-center"
    [title]="'3'"
    [titleIcon]="'device'"
    [skillList]="['card.skillList']"
  ></skill-card>
</div>
