.background-picture {
    height: calc(100vh - 90px);
    background-image: url('/assets/pictures/background/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
}

.fade-element {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }

  