<div
  class="bg-opacity-50 border rounded w-60 h-44 text-xs sm:w-72 sm:h-52 sm:text-base md:w-80 md:h-60 lg:w-96"
  [ngClass]="{
    'bg-background-dark border-white text-white': (darkMode$ | async),
    'bg-white border-background-dark text-background-dark': !(darkMode$ | async)
  }"
>
  <div class="p-4 pb-2 inline-flex">
    <mat-icon class="mr-2">{{ titleIcon }}</mat-icon>
    <div class="flex items-center justify-center">
      <div class="font-bold text-base sm:text-lg md:text-xl">
        {{ title | translate }}
      </div>
    </div>
  </div>
  <div class="p-4 pt-2">
    <ng-container *ngFor="let skill of skillList; let i = index">
      <div class="inline-block pr-2 pb-2">
        <div
          class="px-2 py-1 md:px-4 md:py-2 border-2 rounded border-opacity-80 hover:border-opacity-100 select-none"
          [ngClass]="{
            'bg-background-dark text-white': (darkMode$|async),
            'bg-white text-background-dark': !(darkMode$|async),
            'border-primary-main':i%3 === 0,
            'border-primary-second':i%3 === 1,
            'border-primary-third':i%3 === 2,
        }"
        >
          {{ skill | translate }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
