<div class="m-5 md:m-20 max-w-4xl">
  <div class="mb-5">
    <education-card
      [title]="'feature-skills.education-section.cs.title'"
      [text]="'feature-skills.education-section.cs.text'"
      [date]="'feature-skills.education-section.cs.date'"
    ></education-card>
  </div>
  <div class="mt-5">
    <education-card
      [title]="'feature-skills.education-section.law.title'"
      [text]="'feature-skills.education-section.law.text'"
      [date]="'feature-skills.education-section.law.date'"
    ></education-card>
  </div>
</div>
